/* styles.module.css */
.test {
    --tw-text-opacity: 1;
    color: rgb(55 65 81);
    font-size: 1.125rem;
    line-height: 1.75rem;  
}
.tests {
    background-color: rgba(209,213,219,.6);
    position: relative;
    display: flex;
    border-radius: 1rem;
    padding-top: 15px; 
    padding-left: 20px;  /* Sol tarafına 20 piksel iç boşluk */
    padding-right: 20px;
 
}
.color{
color: #374151;

}

.description{
color: rgba(0, 0, 8, 0.719);
    }
    